---
layout: default
title: Michael Kant - Blog
permalink: /blog/
---

<div class="home" id="home">
    <h1 class="pageTitle">Recent Posts</h1>
    <ul class="posts noList">
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
            <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <a href="{{site.baseurl}}{{ post.url }}#disqus_thread">0 Comments</a>
            <span class="reading-time"><span class="time">{{ post.content | number_of_words | divided_by:180 }}</span> Min Read</span>
            <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
        </li>
        {% endfor %}
    </ul>
    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
        {% endif %}
    </div>

    <script id="dsq-count-scr" src="//michaelkant.disqus.com/count.js" async></script>
</div>
